a.newdom{
  display:block;
  border: 1px solid #000000;
  background: #000000;
  color:#ffffff;
　padding: 50px;
  border-radius: 5px;
}
a.newdom:active{
  position: relative;
  top: 5px;
  box-shadow: none;
}
a.newdom:hover {
  background: #fff;
  color: #000;
}
